<div id="filters" ng-cloak>

    <button class="btn btn-sm btn-success"
            id="clear-completed"
            ng-click="confirmDeleting()"
            ng-disabled="completedTodos.items.length <= 0 || !dataLoaded">
            Clear completed ({{completedTodos.items.length}})
    </button>

    <paper-action-dialog backdrop transition="core-transition-center" id="toggleDialog2"
                         heading="Are you sure?" layered="false">

        <p>
            Really delete {{completedTodos.items.length}} completed tasks?
        </p>

        <paper-button affirmative>Cancel</paper-button>
        <paper-button affirmative autofocus ng-click="clearCompletedTodos()">OK, delete tasks</paper-button>

    </paper-action-dialog>
</div>