<div ng-repeat="group in groups" ng-hide="!dataLoaded">

    <h2>
        {{ group.name }}
    </h2>

    <div ng-show="(filteredTodos.length == 0 || group.items.length == 0 || !group.items) && dataLoaded === true"
         class="no-task-here">

        <p>
            <i class="fa fa-check-circle-o fa-3x add-blue"></i>
            <br/>
            <strong>
                Great! There are no tasks.
            </strong>
        </p>
    </div>

    <div ng-repeat="todo in filteredTodos = (group.items | filter:filterByKeywordText | orderBy: 'updated' : true)"
         ng-class="{'completed': todo.status == 'completed', editing: todo == editedTodo}"
         class="row one-task">

        <!-- <CHECKBOX COL >-->
        <div class="col-md-1 check-col">
            <form role="form">
                <div class="check-awesome">
                    <input type="checkbox" id="c-{{todo.id}}" ng-checked="todo.status === 'completed'">

                    <label for="c-{{todo.id}}" ng-click="todoCompleted(todo)">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span>
                    </label>
                </div>
            </form>
        </div>
        <!-- </CHECKBOX COL >-->

        <!-- <TITLE COL >-->
        <div class="col-md-6">
            <div class="view">
            <span ng-dblclick="editTodo(todo, group)" class="fake-label">
                <span ng-bind-html="todo.title|highlight:filterByKeywordText:caseSensitive"></span>
            </span>
            </div>

            <form ng-submit="doneEditing(todo, 'submit')">
                <input class="edit-input form-control"
                       ng-trim="false"
                       ng-model="todo.title"
                       todo-escape="revertEdits(todo)"
                       ng-blur="saveEdits(todo, 'blur')"
                       todo-focus="todo == editedTodo">
            </form>
        </div>
        <!-- </TITLE COL >-->

        <div class="col-md-4 text-right">
            <span ng-show="todo.due && todo.status == 'needsAction'" class="overdue-container">
                <span ng-show="isOverdue(todo.due)" class="label label-warning animated bounceIn">
                <i class="fa fa-exclamation-triangle"></i> Overdue</span>
                &nbsp;
                                    <!--{{todo.due| date:'medium'}}-->
                <span class="due-container" am-time-ago="todo.due"
                      tooltip="{{todo.due| date:'medium'}}">
                </span>
            </span>

            <span ng-show="!todo.due && todo.status == 'needsAction'" class="not-overdue-container">
                <em>
                    no due date
                </em>
            </span>

        </div>

        <!-- <REMOVE COL >-->
        <div class="col-md-1 remove-col">
            <form ng-submit="removeTodo(todo, group)" role="form">
                <button class="btn btn-default btn-xs" ng-click="removeTodo(todo, group)" title="Delete this task">
                    <i class="glyphicon glyphicon-remove"></i> Remove
                </button>
            </form>
        </div>
        <!-- </REMOVE COL >-->
    </div>
</div>

<!-- <LOADING STATUS> -->
<div class="row">
    <div class="col-md-12">
        <div class="text-center" ng-hide="dataLoaded">

            <paper-spinner active></paper-spinner>

            <p>
                <strong>
                    Loading tasks...
                </strong>
            </p>

        </div>

        <div ng-show="filteredTodos.length == 0 && dataLoaded === true" class="no-task-here">

            <p>
                <i class="fa fa-check-circle-o fa-3x add-blue"></i>
                <br/>
                <strong>
                    Great! There are no tasks.
                </strong>
            </p>

        </div>

    </div>
</div>
<!-- </LOADING STATUS> -->

<paper-toast text="Task reverted." id="toast"></paper-toast>