@charset "utf-8";
body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  text-rendering: geometricPrecision;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
input[type="search"]::-moz-search-cancel-button {
  -moz-appearance: searchfield-cancel-button;
}
a.selected {
  font-weight: bold;
}
.ui-match {
  background: yellow;
}
.editing .view {
  display: none;
}
.edit {
  display: none;
}
.editing .edit {
  display: block;
}
.add-blue {
  color: #4285f4;
}
.btn-blue-success {
  background-color: #4285f4;
  border-color: #4285f4;
}
.btn-blue-success:hover {
  background-color: #5a95f5;
  border-color: #5a95f5;
}
#filters .btn-success {
  background-color: #4285F4;
  border-color: #4285F4;
}
.row.completed span.fake-label,
.row.completed span.fake-label span {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.55);
}
/* Add animation */
.my-repeat-animation.ng-enter.ng-enter-active,
.my-repeat-animation.ng-leave {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
/* Remove animation */
.my-repeat-animation.ng-leave.ng-leave-active,
.my-repeat-animation.ng-enter {
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}
.one-task {
  padding-top: 9px;
  padding-bottom: 6px;
  border-bottom: 1px dashed #bcbcbc;
}
.one-task .remove-col button {
  color: #bcbcbc;
}
.one-task .check-col {
  width: 25px;
  padding-top: 1px;
}
.one-task:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.one-task:hover .remove-col button {
  color: #000000;
}
.no-task-here {
  display: table;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0 10px 0;
  width: 100%;
}
.no-task-here p {
  display: table-cell;
}
.overdue-container {
  font-size: 12px;
}
.overdue-container .label {
  color: #333333;
  background-color: #FF5722;
  position: relative;
  top: -2px;
  text-transform: uppercase;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-animation-duration: 2s;
  -khtml-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 100ms;
  -khtml-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  animation-delay: 100ms;
}
.not-overdue-container {
  color: #d5d5d5;
  font-size: 12px;
}
