body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  text-rendering: geometricPrecision;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
input[type="search"]::-moz-search-cancel-button {
  -moz-appearance: searchfield-cancel-button;
}
a.selected {
  font-weight: bold;
}
.ui-match {
  background: yellow;
}
.editing .view {
  display: none;
}
.edit {
  display: none;
}
.editing .edit {
  display: block;
}
.add-blue {
  color: #4285f4;
}
.btn-blue-success {
  background-color: #4285f4;
  border-color: #4285f4;
}
.btn-blue-success:hover {
  background-color: #5a95f5;
  border-color: #5a95f5;
}
#filters .btn-success {
  background-color: #4285F4;
  border-color: #4285F4;
}
.row.completed span.fake-label {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.55);
}
.one-task {
  padding-top: 9px;
  padding-bottom: 6px;
  border-bottom: 1px dashed #bcbcbc;
}
.one-task .remove-col button {
  color: #bcbcbc;
}
.one-task .check-col {
  width: 25px;
  padding-top: 1px;
}
.one-task:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.one-task:hover .remove-col button {
  color: #000000;
}
.no-task-here {
  display: table;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0 10px 0;
  width: 100%;
}
.no-task-here p {
  display: table-cell;
}
