<section id="todoapp">
    <div class="row">
        <div class="col-md-12">
            <!-- <HEADER> -->
            <header id="header" ng-include="'partials/snippets/header.html'">
            </header>
            <!-- </HEADER> -->

            <!-- <DIVIDER> -->
            <div class="row" ng-include="'partials/snippets/divider.html'">
            </div>
            <!-- </DIVIDER> -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">


            <h3>
                <i class="fa fa-list-alt"></i> Your tasklists
            </h3>

            <div class="text-center" ng-hide="taskListsLoaded">

                <paper-spinner active></paper-spinner>

                <p>
                    <strong>
                        Loading tasklists...
                    </strong>
                </p>

            </div>

            <core-menu raised ng-show="taskLists" selected="1" selectedAttribute="">
                <paper-item ng-repeat="oneList in taskLists"
                            ng-click="loadTaskData(oneList)"
                            ng-class="{'core-selected' : selectedTaskList == oneList}">
                    {{oneList.title}}
                </paper-item>
            </core-menu>

            <h3>
                Task finder
            </h3>

            <form id="filter-form" role="form">


                <div class="input-group">


                         <span class="input-group-btn">
                            <button class="btn btn-success btn-blue-success">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    <label class="sr-only" for="filter-text">Filter by title</label>

                    <input type="search"
                           class="form-control"
                           id="filter-text"
                           placeholder="Filter tasks by typing..."
                           required="required"
                           ng-model="filterByKeywordText"
                           ng-disabled="(completedTodos.items.length <= 0 && needsActionTodos.items.length <= 0) || (!completedTodos.items && !needsActionTodos.items)"
                           aria-describedby="helpBlock">
                </div>

                    <span id="helpBlock" class="help-block">
                        We'll search tasks in the current list.
                    </span>

            </form>

            <h3>Tools</h3>

            <!--<FILTERS>-->
            <section id="filter" ng-include="'partials/snippets/filters.html'">
            </section>
            <!--</FILTERS>-->

        </div>
        <div class="col-md-9">
            <!--<ADD-TD-FORM>-->
            <section id="add-todo-form" ng-include="'partials/snippets/add-todo-form.html'">
            </section>
            <!--</ADD-TD-FORM>-->

            <br/>

            <div class="clearfix"></div>

            <!-- <TASKS SECTION> -->
            <section id="tasks" ng-include="'partials/snippets/tasks.html'">
            </section>
            <!-- </TASKS SECTION> -->

            <!-- <DIVIDER> -->
            <div ng-include="'partials/snippets/divider.html'">
            </div>
            <!-- </DIVIDER> -->

            <!-- <TOOLS SECTION> -->
            <section id="tools" ng-show="todos.length" ng-cloak ng-include="'partials/snippets/tools.html'">
            </section>
            <!-- </TOOLS SECTION> -->
        </div>
    </div>

</section>