<section id="todoapp">
    <div class="row">
        <div class="col-md-12 text-center">

            <h1>GTASKSAPP<span class="text-muted">.COM</span> Authorization</h1>

            <div class="checking_auth" ng-hide="rejected">

                <paper-spinner active></paper-spinner>

                <p>
                    Downloading Google API.
                    <span ng-show="googleLoaded">
                        <i class="fa fa-check text-success"></i>
                    </span>
                </p>
            </div>

            <div ng-show="rejected">

                <p>
                    Basic profile information and Google Tasks.
                </p>

                <button type="submit" ng-click="login()" class="btn-primary btn">
                    <i class="fa fa-lock"></i>
                    Authorize GTASKSAPP.com
                </button>

            </div>
        </div>
    </div>

</section>